<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1a6588e6-9481-47b0-a850-3f5a1f592d8a" name="Copy of ChangeTransactionStatus Test Suite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1a6588e6-9481-47b0-a850-3f5a1f592d8afileName">Copy-of-ChangeTransactionStatus-Test-Suite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>request_hash</con:name><con:value>d310ed294781b50d6143880c44e5212b</con:value></con:property><con:property><con:name>random_number</con:name><con:value>-1776073399</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>